*{
    margin: 0;
     padding: 0;
}
body{
    padding: 10px;
    background-color: #f0c4c4;
    display: flex;
    background-image: url(wall2.jpg);
    background-size: cover;
}
.container{
    display: grid;
    grid-template-columns:repeat(10,1fr);
    background-color: rgb(177, 6, 6);
    height: auto;
    grid-gap: 1px;
    grid-column-gap:1px ;
    width: fit-content;
    padding: 30px;
    border-radius: 20px;
    transform: rotateX(180deg);
}
.winner1{
    position: absolute;
    transform: rotateX(180deg);
    font-size: 40px;
    background-color: rgb(99, 85, 229);
    color: rgb(26, 0, 176);
    text-align: center;
    border: 3px solid rgb(21, 0, 176);
    border-radius: 20px;
    top:50%;
    left: 50%;
    z-index: 1200;
    height: 300px;
    width: 300px;
    visibility: hidden;
}
.winner2{
    position: absolute;
    transform: rotateX(180deg);
    font-size: 40px;
    background-color: rgb(157, 229, 85);
    color: rgb(88, 176, 0);
    text-align: center;
    border: 3px solid rgb(88, 176, 0);
    border-radius: 20px;
    top:50%;
    left: 50%;
    visibility: hidden;
    z-index: 1200;
    height: 300px;
    width: 300px;

}
.piece{
   
   background-color: rgb(88, 176, 0);
   box-shadow: 2px 2px 2px rgb(143, 228, 58);
    visibility: hidden;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 123;
}
.piece1{
   
   background-color: rgb(0, 50, 114);
   box-shadow: 2px 2px 2px rgb(0, 149, 149);
    visibility: hidden;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 123;
}

.container .l1{
    position: absolute;
    height: 200px;
    width: 40px;
   mix-blend-mode: darken;
   filter: contrast(200%);
   z-index: 12;
   top:21%;
   left:33%;
   transform: rotateZ(40deg);
}
.container .l2{
    position: absolute;
    height: 300px;
    width: 40px;
   mix-blend-mode: darken;
   filter: contrast(200%);
   z-index: 12;
   top:51%;
   left:48%;
   transform: rotateZ(-38deg);
}
.container .l3{
    position: absolute;
    height: 148px;
    width: 40px;
   mix-blend-mode: darken;
   filter: contrast(200%);
   z-index: 12;
   top:6%;
   left:56%;
   transform: rotateZ(-27deg);
}
.container .l4{
    position: absolute;
    height: 201px;
    width: 40px;
   mix-blend-mode: darken;
   filter: contrast(200%);
   z-index: 12;
   top:12%;
   left:25%;
   transform: rotateZ(40deg);
}
.container .l5{
    position: absolute;
    height: 136px;
    width: 40px;
    mix-blend-mode: darken;
    filter: contrast(200%);
    z-index: 12;
    top: 63%;
    left: 6%;
    transform: rotateZ(1deg);
}
.container .l6{
    position: absolute;
    height: 200px;
    width: 40px;
    mix-blend-mode: darken;
    filter: contrast(200%);
    z-index: 12;
    top: 34%;
    left: 74%;
    transform: rotateZ(27deg);
}
.container .s1{
    position: absolute;
    height: 530px;
    width: 122px;
    mix-blend-mode: darken;
    filter: contrast(131%);
    z-index: 12;
    top: 15%;
    left: 51%;
    transform: rotateZ(36deg);
}
.container .s2{
    position: absolute;
    height: 424px;
    width: 95px;
    mix-blend-mode: darken;
    filter: contrast(230%);
    z-index: 12;
    top: 33%;
    left: 18%;
    transform: rotateZ(155deg);
}
.container .s3{
    position: absolute;
    height: 163px;
    width: 201px;
    mix-blend-mode: darken;
    filter: contrast(169%);
    z-index: 12;
    top: 5%;
    left: 66%;
    transform: rotateZ(213deg);
}
.container .s4{
    position: absolute;
    height: 300px;
    width: 75px;
    mix-blend-mode: darken;
    filter: contrast(169%);
    z-index: 12;
    top: 5%;
    left: 34%;
    transform: rotateZ(160deg);
}
.container .s5{
    position: absolute;
    height: 206px;
    width: 150px;
    mix-blend-mode: darken;
    filter: contrast(169%);
    z-index: 12;
    top: 55%;
    left: 66%;
    transform: rotateZ(417deg);
}


.block{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}
.block h3{
    position: absolute;
    transform: rotateX(180deg);
    font-size: 30px;
    color: rgba(1, 0, 41, 0.813);
}
.block:nth-child(odd){
    background-color: rgb(0, 149, 149);
}
.block:nth-child(even){
    background-color: rgb(149, 146, 0);
}
.dicecont{
    background-color: rgb(205, 63, 2);
    height:120px;
    width:120px;
    margin: 100px;
    padding: 10px;
    position: relative;
    border-radius: 20px;
}
.dice{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
#i1, #i2, #i3, #i4, #i5, #i6{
  position: absolute;
  background-color: rgb(165, 158, 119);
  margin: 10px;
 visibility: hidden;
}
.btn{
    background-color: blue;
    color: aliceblue;
    position: absolute;
    bottom: -70px;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 10px;
}
.dot{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}
.dice:nth-child(1){
    padding: auto;
   display: flex;
    justify-content: center;
    align-items: center;
}
.dice:nth-child(2){
    padding: auto;
    display: grid;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.dice:nth-child(3){
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dice:nth-child(4){
    padding: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.dice:nth-child(5){
    padding: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.dice:nth-child(6){
    padding: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    
}
.dicecont1{
    background-color: rgb(0, 0, 0);
    height:120px;
    width:120px;
    margin: 100px;
    padding: 10px;
    position: relative;
    border-radius: 20px;
}
.dice1{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
#j1, #j2, #j3, #j4, #j5, #j6{
  position: absolute;
  background-color: rgb(208, 239, 239);
  margin: 10px;
 visibility: hidden;;
}
.btn1{
    background-color: blue;
    color: aliceblue;
    position: absolute;
    bottom: -70px;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 10px;
}
.dot1{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}
.dice1:nth-child(1){
    padding: auto;
   display: flex;
    justify-content: center;
    align-items: center;
}
.dice1:nth-child(2){
    padding: auto;
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dice1:nth-child(3){
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dice1:nth-child(4){
    padding: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.dice1:nth-child(5){
    padding: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.dice1:nth-child(6){
    padding: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    
                                  }
